# se crea un archivo en la root del proyecto y se coloca
# .editorconfig (como el archivo de .gitignore) y se agrega estas configuraciones

 EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true